<div class="answer-quiz-item" data-index="{{index}}" data-loaded="false">
  <div class="row">
    <div class="col col-1 my-auto text-center question-number">{{index}}</div>
    <div class="col col-11">
      <div class="question-text">
        {{this}}
      </div>
      <div class="question-media">
      </div>
      <div class="question-answer-area">
        {{#ifEquals type value="fill"}}
          <input type="text" class="form-control question-answer" placeholder="Type your answer here...">
        {{else}}
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-secondary">
              <input type="radio" class="question-answer" name="answer{{index}}" autocomplete="off" value="true"> True
            </label>
            <label class="btn btn-secondary">
              <input type="radio" class="question-answer" name="answer{{index}}" autocomplete="off" value="false"> False
            </label>
          </div>
        {{/ifEquals}}
      </div>
    </div>
  </div>
  <div class="text-center mt-3 w-100">
    {{#unlessEquals index value="1"}}
      <button class="prev-button btn btn-secondary" type="button">Previous</button>
    {{/unlessEquals}}

    {{#ifEquals index value=length}}
      <button class="next-button btn text-custom-white bg-custom-blue" type="submit">Submit</button>
    {{else}}
      <button class="next-button btn text-custom-white bg-custom-blue" type="button">Next</button>
    {{/ifEquals}}
  </div>
</div>
