<div class="row">
  <div class="col col-md-2">
    <h3>GENRES</h3>
    <ul id="genres">
      {{#each genres}}
        {{#ifEquals ../genre.id value=this.id}}
          <li><a class="text-uppercase text-primary" href="/genre/{{this.id}}">{{this.name}}</a></li>
        {{else}}
          <li><a class="text-uppercase text-custom-dark-blue" href="/genre/{{this.id}}">{{this.name}}</a></li>
        {{/ifEquals}}
      {{/each}}
    </ul>
  </div>
  <div class="col col-md-10">
    <h2 class="text-uppercase">{{genre.name}} Quizzes</h2>
    <hr>
    <table id="quizzes-table">
      <thead>
        <th>Title</th>
        <th>Plays</th>
        <th>Length</th>
      </thead>
      <tbody>
        {{#each quizzes}}
          <tr class="shadow-sm">
            <td scope="row"><a class="text-dark stretched-link" href="/quiz/{{this.id}}">{{this.title}}</a></td>
            <td>{{this.plays}}</td>
            <td>{{createTime this.timeLimit}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="clearfix">
  <div class="float-right">
    <a class="btn text-custom-white bg-custom-blue {{#if firstPage}}disabled{{/if}} shadow-sm mr-2" href="/genre/{{genre.id}}/{{prevPage}}">Previous</a>
    <a class="btn text-custom-white bg-custom-blue {{#if lastPage}}disabled{{/if}} shadow-sm" href="/genre/{{genre.id}}/{{nextPage}}">Next</a>
  </div>
</div>
